{% extends "base.html" %}

{% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
    <div class="notification is-danger">
        {{ messages[0] }}
    </div>
{% endif %}
{% endwith %}
<h1 class="title">
  Welcome, {{ name }}
</h1>
<div class="">
{% if notes|length > 0 %}
<h2 class="subtitle"> Your notes: </h2>
<ul>
{% for note in notes %}
  <li>
    <a href="{{ url_for('main.note_show', note_id=note.id) }}">{{ loop.index }}. {{ note.title }}</a>
  </li>
{% endfor %}
</ul>
{% else %}
<h2 class="subtitle">
  Looks like you don't have a single note yet.
</h2>
<div>
  <a class="pagination-link" href="{{ url_for('main.note_create') }}">Create your first note</a>
</div>
{% endif %}
{% endblock %}